<div class="row justify-content-center">
  <div class="col-lg-5 col-md-8 mt-4">
    <h2 class="mb-4 text-center text-dark">Agregar Producto</h2>
    <div class="card p-4 shadow-sm rounded">
      <form [formGroup]="FormRegister" (submit)="edit ? updateProduct() : submitProduct()">
        <div class="mb-3">
          <label for="name" class="form-label">Nombre:</label>
          <input type="text" class="form-control rounded-pill" formControlName="name" />
          <small *ngIf="isNotValidField('name')" class="form-text text-danger">{{
            getFieldError("name") }}
          </small>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Descripción:</label>
          <input type="text" class="form-control rounded-pill" formControlName="description" />
          <small *ngIf="isNotValidField('description')" class="form-text text-danger">{{
            getFieldError("description") }}
          </small>
        </div>

        <div class="mb-3">
          <label for="cant" class="form-label">Cantidad:</label>
          <input type="number" class="form-control rounded-pill" formControlName="cant" />
          <small *ngIf="isNotValidField('price')" class="form-text text-danger">{{
            getFieldError("cant") }}
          </small>
        </div>


        <div class="mb-3">
          <label for="price" class="form-label">Precio:</label>
          <input type="number" class="form-control rounded-pill" formControlName="price" />
          <small *ngIf="isNotValidField('price')" class="form-text text-danger">{{
            getFieldError("price") }}
          </small>
        </div>

        <div class="mb-3">
          <label for="imageURL" class="form-label">Imagen URL:</label>
          <input type="text" class="form-control rounded-pill" formControlName="imageURL" />
          <small *ngIf="isNotValidField('imageURL')" class="form-text text-danger">{{
            getFieldError("imageURL") }}
          </small>
        </div>
        <div class="text-center">
          <button class="btn btn-outline-primary btn-block rounded-pill mt-3 me-2"
            [disabled]="FormRegister.invalid">Agregar</button>
          <button class="btn btn-outline-danger btn-block rounded-pill mt-3" routerLink="[/]">Volver</button>
        </div>
      </form>
    </div>
  </div>
</div>